{% extends 'base.html' %} {% block content%} {{super()}}
<div class="about__header">
  <div class="content">
    <div class="about__header__info">
      <div class="block__about">
        <div class="block_title">
          <p>ABOUT US</p>
          <h4>We are a team of content writers who share their learnings</h4>
        </div>
        <div class="about_info">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

      <div class="missions">
        <div class="mission">
          <h3>Our mision</h3>
          <h4>Creating valuable content for creatives all around the world</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
            blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
            At risus viverra adipiscing at in tellus.
          </p>
        </div>
        <div class="mission">
          <h3>Our Vision</h3>
          <h4>A platform that empowers individuals to improve</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
            blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
            At risus viverra adipiscing at in tellus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
