{% extends 'portfolio/base.html' %}
{%load static %}{% block content %}
<div class="index">
  <div class="wrap">
    <div class="index_block">
      <div class="index_info">
      <h4>let's get acquainted</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        veniam quia et veritatis nemo molestiae cum aliquam exercitationem
        facilis repellendus deserunt? Possimus, quod molestiae ipsam nemo
        ducimus veniam magni nostrum!
      </p>
    </div>
      <div class="index_photo">
          <img src="{% static 'portfolio/index.png' %}" alt="">
      </div></div>
  </div>
</div>
{% endblock content %}
