{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container__about">
    <div class="rules">
        <h2>Правила генерации пароля:</h2>
        <p>В этом генераторе паролей, вы можете выбрать длину пароля (от 8 до 14 символов).</p>
        <p>Так же вы можете выбрать символы, которые можно использовать в пароле, а именно:</p>
        <ul>
            <li>Буквы с верхним регистром</li>
            <li>Цифры</li>
            <li>Спецсимволы</li>
        </ul>
        <p>По умолчанию используется английский алфавит в нижнем регистре</p>
        <p>Язык используется по умолчанию, его поменять нельзя!</p>
        <p>За раз генерируется только один пароль</p>
        <h3>Удачного использования генератора паролей</h3>
    </div>
    <div class="author">
        <p>Автор: Mary Ivanova</p>
    </div>
     <p class="btn"><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>